In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\neha\anaconda\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\neha\anaconda\lib\site-packages (from selenium) (1.26.4)

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException

#Importing requests
import requests

# importing regex
import re

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

In [3]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=10%2F11%2F2021&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=31%2F10%2F2021&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=79100189202&viewName=normal"
driver.get(url)

time.sleep(30)

In [4]:
# we have location delhi to mumbai

In [4]:
#Airline name
air_name=[]
for page in range(1,40):
    
    try:
        name=driver.find_elements_by_xpath("//p[@class='normal fs-10 fs-10 abs font-lightestgrey no-wrap mt-2 fl-no']")
        for i in name:
            air_name.append(i.text)
    except NoSuchElementException:
         air_name.append("No details available")

In [5]:
len(air_name)

2028

In [6]:
# departue time of the flight
dep_time=[]
for page in range(1,40):
    try:
        d_time=driver.find_elements_by_xpath("//div[@class='i-b pr']")
        for j in d_time:
            dep_time.append(j.text.replace("\nAir Asia",""))
    
    except NoSuchElementException:
         dep_time.append("No details available")
            
len(dep_time)

2028

In [7]:
dep_time1=[]
m=["\nGo First","\nAir India","\nIndiGo"]
for m in dep_time:
    dep_time1.append(m.replace("\nGo First",""))
    
dep_time2=[]
for m in dep_time1:
    dep_time2.append(m.replace("\nAir India",""))
    
depr_time=[]
for m in dep_time2:
    depr_time.append(m.replace("\nIndiGo",""))
    
len(depr_time)

2028

In [9]:
#arrival time of the flight
arr_time=[]
for page in range(1,40):
    try:
        a_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
        for k in a_time:
            arr_time.append(k.text.replace("\n+ 1 day",""))
    except NoSuchElementException:
        arr_time.append("No details available")       
        
len(arr_time)

2028

In [11]:
#total duration of the journey
duration=[]
for page in range(1,40):
    try:
        dur=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
        for l in dur:
            duration.append(l.text)
    except NoSuchElementException:
        duration.append("No details available")
        
len(duration)

2028

In [13]:
#total stops
total_stp=[]
for page in range(1,73):
    try:
        t_stp=driver.find_elements_by_xpath("//span[@class='cursor-default']")
        
        for m in t_stp:
             total_stp.append(m.text)
    except NoSuchElementException:
        total_stp.append("Non details available")

len(total_stp)

2016

In [14]:
len(total_stp[:2000])

2000

In [15]:
#ticket price
price=[]
for page in range(1,41):
    try:
        pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
        for n in pr:
            price.append(n.text)
    except NoSuchElementException:
        price.append("No details available")
        
len(price)

2000

In [16]:
len(air_name[:2000])

2000

In [17]:
len(depr_time[:2000])

2000

In [22]:
len(arr_time[:2000])

2000

In [19]:
len(duration[:2000])

2000

In [20]:
len(price[:2000])

2000

In [21]:
ds=pd.DataFrame({"Air_name":air_name[:2000],
                "Departure_time":depr_time[:2000],
                 "Arrival_time":arr_time[:2000],
                "Duration":duration[:2000],
                "Total_stops":total_stp[:2000],
                "Price":price[:2000]})
ds

       Air_name Departure_time Arrival_time Duration Total_stops  Price
0      Air Asia          14:40        22:25   7h 45m    Non Stop  5,953
1      Air Asia          21:25        06:45   9h 20m    Non Stop  5,953
2      Air Asia          21:25        07:15   9h 50m    Non Stop  5,953
3      Air Asia          20:45        06:45  10h 00m    Non Stop  5,953
4      Air Asia          20:45        07:15  10h 30m    Non Stop  5,953
...         ...            ...          ...      ...         ...    ...
1995   Go First          09:10        16:15   7h 05m    Non Stop  5,942
1996  Air India          07:00        09:05   2h 05m    Non Stop  5,942
1997     IndiGo          06:30        08:40   2h 10m    Non Stop  5,942
1998  Air India          08:00        10:10   2h 10m    Non Stop  5,942
1999     IndiGo          08:10        10:20   2h 10m    Non Stop  5,942

[2000 rows x 6 columns]

In [24]:
ds.shape

(2000, 6)

We have 2000 rows and 6 columns in the dataset.

## Saving the dataframe in csv

In [26]:
ds.to_csv("flight_ticket.csv")